*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --grey: #f8f8f8;
}
body{
  background-attachment: fixed;
}

.header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: .5rem 0 0 0;
}
.header p {
  margin-right: 1rem ;
}
.mail{
  border-radius: 50%;
  margin-right: 1.0rem;
}
.grid{
  margin-right: 1rem;
}
.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  display: flex;
  margin-top: 7rem;
  padding-bottom: 2rem;
}
.search-bar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: .5px #c3c3c3 solid;
  border-radius: 4rem;
  height: 42px;
  margin: auto;
  width: 582px;
  z-index: 3;
}

.search-bar img {
  margin: 0 9px;
  z-index: 4;
}

.search{
  border: none;
  flex-grow: 1;
  font-weight: medium;
  font-size: 1rem;
  z-index: 5;
}

.search:focus {
  outline: none;

}
.search:focus + .suggestions{
  display: block;
}

.speaker{
  z-index: 6;
}
.suggestions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 500px;
  border: .5px #c3c3c3 solid;
  border-radius: 1rem;
}
.suggestion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:1rem;
}

.suggestion:first-child{
  margin-top: 40px;
  border-top:1px #e4e4e4 solid;
  padding: .6rem  0 0 0;
}
.suggestion .name{
  display: flex;
  align-items: center;
}
.sug-name{
  color: blueviolet;
}
.sug-name:hover{
  cursor: pointer;
}

.suggestion .remove{
  display: flex;
  align-items: center;
  padding: 0 1rem;

}
.remove:hover{
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.button{
  background-color: #f8f8f8;
  height: 36px;
  min-width: 54px;
  font-weight: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:11px 6px;
  padding: 0px 16px;
  border: none;
  border-radius: 5%;
}
.button:hover {
  border: 1px solid ;
}
.languages{
  display: flex;
  align-items: center;
  justify-content: center;
}
.language{
  text-align: center;
  color: #1a0dab;
  margin-right: .5rem;
  font-size: small;
  text-decoration: none;
}
.language:hover{
  text-decoration: underline;
}
.navbar{
  background-color: #F2F2F2;
  width: 100vw;
  position: fixed;
  bottom: 0;
}
.nigeria{
  color:  #5f6368;
  padding: .4rem 1rem;
  border-bottom: 1px  solid #e4e4e4;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .9rem 0;
}
.end-bar a, .terms a{
  color: #5f6368;
  text-decoration: none;
  margin: 0 1rem 3rem 1rem;
}
.end-bar a:hover{
  text-decoration: underline;
  text-align: center;
}
.terms a:hover{
  text-decoration: underline;
  text-align: center;
}